/* @import "tailwindcss";


body  {
  background-color: #3a3a41;
} */

@import "tailwindcss";

@theme {
  --color-primary-300: #f5c491;
  --color-primary-400: #f59364;
  --color-primary-500: #ff7165;
  --color-primary-600: #fd5145;
  --color-primary-700: #a5352d;

  --color-secondary-300: #a4e9d9;
  --color-secondary-400: #87d0bf;
  --color-secondary-500: #157d88;
  --color-secondary-600: #0e5159;
  --color-secondary-700: #114449;
}
/* Estilos opcionales */
body {
  background-color: #222222;
}
